@charset "UFT-8";

p{  /* Mexendo no P */

    text-align: justify;
    font-size: 1.2em;
    text-indent: 20px; /* Mexendo no paragrafo */
    color: rgb(252, 252, 255);
}
#img_1{

    display: block;
    width: 30%;
    float: left;
    margin: 7px auto;
    padding: 10px;

}
